@model Entities.Product.ProductCategory
@using Entities.Product;
@using Kendo.Mvc.UI
@using Kendo.Mvc.Extensions
@{
    ViewData["Title"] = "CreateGroup";
    Layout = "~/Areas/Admin/Views/Shared/_adminThemplate.cshtml";
}



<!-- Basic Inputs start -->
<section id="basic-input" style="width:100%">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">افزودن دسته بندی</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                           <form class="form" method="post"
              action="@Url.Action("CreateGroup")"
              asp-antiforgery="true"
            
              id="uxFormLarge">
                                <input  asp-for="Id" type="hidden"/>
                            <div class="col-sm-12 col-12 mb-1">
                                <fieldset class="form-group">
                                    <label asp-for="categoryName">Input text with help</label>
                                    <small class="text-muted">eg.<i>موبایل , میز</i></small>
                                    <input type="text" class="form-control" asp-for="categoryName" style="width:100%;">
                                </fieldset>
                            </div>

                                <div class=" flex-center">

                                    <button type="submit" class="btn btn-primary">
                                        <span class="indicator-label">ثبت</span>
                                    </button>
                                </div>
                          
                          </form>
                           
                           
                        </div>
                    </div>
                </div>
            </div>

    </div>
</section>
<!-- Basic Inputs end -->



<style>
    .k-grid {
        font-size: 12px;
    }
</style>


