@model IEnumerable<Entities.Product.Product>
@using Entities.Product;


@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_adminThemplate.cshtml";
}

<h1>لیست محصولات</h1>


<div class="card card-flush">
    <div class="card-body ">
        <form class="form" method="post"
              action="@Url.Action("ProductList")"
              asp-antiforgery="true">
            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='createproduct'">
                <span class="indicator-label">افزودن محصول</span>
            </button>
            <p></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>کد  </th>
                        <th> نام محصول </th>
                        <th>محصول ویژه  </th>
                        <th>  عکس محصول</th>
                        <th>سایز محصول  </th>
                        <th>  رنگ محصول</th>
                        <th>قیمت</th>
                        <th> ویرایش</th>
                        <th> حذف</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var p3 in Model)
                    {
                        <tr>
                            <td>@p3.Id</td>
                            <td>@p3.productName</td>
                            <td>@(p3.IsSpecial? "بله":"خیر")</td>
                            <td>
                                <a href="/admin/dashbord/picproduct?id=@p3.Id" class="btn btn-info btn-sm">
                                    <span class="indicator-label">ثبت تصاویر</span>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/dashbord/sizeproduct?id=@p3.Id" class="btn btn-warning btn-sm">
                                    <span class="indicator-label">ثبت سایز</span>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/dashbord/colorproduct?id=@p3.Id" class="btn btn-success btn-sm">
                                    <span class="indicator-label">ثبت رنگ</span>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/dashbord/priceproduct?id=@p3.Id" class="btn btn-primary btn-sm">
                                    <span class="indicator-label"> قیمت ها</span>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/dashbord/createproduct?id=@p3.Id" class="btn btn-light btn-sm">
                                    <span class="indicator-label">ویرایش</span>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/dashbord/deleteproduct?id=@p3.Id" class="btn btn-danger btn-sm">
                                    <span class="indicator-label">حذف</span>
                                </a>
                            </td>
                          
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>





