@using Entities.Slide;

@using Kendo.Mvc.UI
@using Kendo.Mvc.Extensions
@{
    ViewData["Title"] = "SlideList";
    Layout = "~/Areas/Admin/Views/Shared/_adminThemplate1.cshtml";
}

<style>
    .k-grid {
        font-size: 12px;
    }
</style>


<div class="k-rtl  table-responsive">

    @{
        ViewBag.Title = ViewBag.Title;
    }

 



   @* <div class="card card-flush">
        <div class="card-body table-responsive">
            @(
                Html.Kendo().Grid<op>()
                .Name("grid3")
                .Columns(columns =>
                {
                    columns.Bound("Id").Title("شناسه").Filterable(false);
                })
                .ToolBar(toolbar =>
                {
                    toolbar.ClientTemplateId("GridToolbarTemplate");
                })
                .Pageable(pager => pager
                .Input(true)
                .Info(true)
                .PreviousNext(true)
                .Refresh(true)
                )
                .EnableCustomBinding(true)
                .AutoBind(true)
                .Filterable().Sortable()
                .DataSource(dataSource => dataSource
                .Ajax().Sort(a => a.Add("Id").Descending())
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(p => p.Id);

                })
                .Read(read => read.Action("GetGridData", "Slide", new { area = "admin" }).Type(HttpVerbs.Get))
                )
                )
        </div>
    </div>
*@
    <script id="GridToolbarTemplate" type="text/x-kendo-template">
         <div class="refreshBtnContainer">
            <a href="/Invoice/CreateInvoice" class="btn btn-success   w-content">
                <span class="k-icon k-i-add color-white"></span>
                ثبت جدید
            </a>
        </div>
    </script>

   
    <div id="grid2" ></div>

    <script>

        $(document).ready(function () {
            $("#grid2").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "../Slide/GetGridData",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                id: { type: "number" },
                                //name: { type: "string" },
                                //age: { type: "number" }
                            }
                        }
                    },
                    serverFiltering: true,
                    serverSorting: true
                },
                columns: [
                    { field: "id", title: "id", filterable: { multi: true }, sortable: true },
                    //{ field: "age", title: "Age", format: "{0:n0}" },
                    {
                        title: "Actions",
                        template: '<a href="/customers/edit/#=id#">Edit</a>'
                    }
                ], filterable: true
            });
        });

        //$(document).ready(function () {
        //    $("#grid2").kendoGrid({
        //        dataSource: {
        //            transport: {
        //                read: {
        //                    url: "../Slide/GetGridData",
        //                    dataType: "json"
        //                }
        //            },
        //            schema: {
        //                model: {
        //                    id: "id",
        //                    fields: {
        //                        id: { type: "number" },
        //                        //name: { type: "string" },
        //                        //age: { type: "number" }
        //                    }
        //                }
        //            }
        //        },
        //        columns: [
        //            { field: "id", title: "id" },
        //        ]
        //    });
        //});
    </script>

   @* <script>
        $(document).ready(function () {
            $("#grid2").kendoGrid({
                dataSource: {
                    data: [
                        { id: 1, name: "John", age: 30 },
                        { id: 2, name: "Jane", age: 25 },
                        { id: 3, name: "Bob", age: 40 }
                    ]
                },
                columns: [
                    { field: "id", title: "ID" },
                    { field: "name", title: "Name" },
                    { field: "age", title: "Age" }
                ]
            });
        });
    </script>*@

@*@(Html.Kendo().Grid<Slide>
    ()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Title("شناسه").Sortable(true).Filterable(true);

            columns.Bound(c => c.title).Title("title").Sortable(true).Filterable(true);
    })
    .ToolBar(toolbar =>
        {
            toolbar.ClientTemplateId("GridToolbarTemplate");
        })
    .EnableCustomBinding(true)
    .AutoBind(true)
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax().PageSize(10).Model(model =>
        {
            model.Id(p => p.Id);

        })
    .Read(read => read.Action("Slide_Read", "Slide",new { area = "admin" }).Type(HttpVerbs.Post))
    )
    )*@

    </div>


     